<section class="contact">
	<div class="flex horizontally-centered">
		<div class="contact-info">
			<h4>Contact Info</h4>
			<p>Feel free to email, call or swing by our office!</p>
			<div class="cont-info">
				<div class="ci-icon">
					<img src="assets/images/location.svg" alt="">
				</div>
				<span>900 Barton Springs Rd, Austin, TX 78704</span>
			</div>
			<div class="cont-info">
				<div class="ci-icon phone">
					<img src="assets/images/phone.webp" alt="">
				</div>
				<span>512 538 8243</span>
			</div>
			<div class="cont-info">
				<div class="ci-icon email">
					<img src="assets/images/email.webp" alt="">
				</div>
				<span>otsanllc&#64;gmail.com</span>
			</div>
		</div>
		<div class="contact-form-container">
			<form class="contact-form flex">
				<input class="name" type="text" placeholder="Your name">
				<input class="email" type="email" placeholder="Your e-mail">
				<input type="text" placeholder="Subject">
				<textarea placeholder="Message"></textarea>
				<button class="btn">Send</button>
			</form>
		</div>
	</div>
	<div class="map" id="map-canvas"></div>
</section>
