<section class="pricing">
	<div class="flex horizontally-centered pricing-page-heading">
		<h2>Pricing that is easy to understand</h2>
	</div>
	<div class="flex horizontally-centered">
		<div class="pricing-plan">
			<div class="pricing-title">
				<h4>Pond</h4>
			</div>
			<div class="pricing-body">
				<h2>$0<span>/Month</span></h2>
				<ul>
					<li>15GB storage</li>
					<li>1GB bandwidth</li>
				</ul>
				<a href="" class="btn">Get Plan</a>

			</div>
		</div>
		<div class="pricing-plan gold-plan active">
			<div class="pricing-title">
				<h4>Lake</h4>
			</div>
			<div class="pricing-body">
				<h2>$0.99<span>/Month</span></h2>
				<ul>
					<li>50GB storage</li>
					<li>2GB bandwidth</li>
				</ul>
				<a href="" class="btn">Get Plan</a>
			</div>
		</div>
		<div class="pricing-plan">
			<div class="pricing-title">
				<h4>Ocean</h4>
			</div>
			<div class="pricing-body">
				<h2>$9.99<span>/Month</span></h2>
				<ul>
					<li>100GB storage</li>
					<li>3GB bandwidth</li>
				</ul>
				<a href="" class="btn">Get Plan</a>
			</div>
		</div>
	</div>
</section>