$accent-color: #eb2b63;
$black: #212529;
$dark-gray: #585858;
$font-size-large: 1rem;
$font-size-larger: 60px;
$font-size-normal-larger: 16px;
$font-size-normal: 14px;
$font-weight-bold: 700;
$font-weight-normal: 400;
$gray-input: #eff4f7;
$gray: #eef6f9;
$secondary-color: #431483;
$light-secondary-color: #7246b3;
$white: #f7fff7;


$accent-color: #4ecdc4;
$secondary-color: #3066be;
$light-secondary-color: #60b2e5;